@{
    ViewData["Title"] = "Home Page";
}
<table class="table" >
    <tr>
        <td>
            <partial name="_partials/_RegistrationPartial" model="Model"/>
        </td>
        <td>
            <partial name="_partials/_LoginPartial" model="Model"/>
        </td>
    </tr>
</table>
<br>